<template>
  <v-app id="inspire">
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="primary" dark dense>
      <router-link to="/">
        <v-app-bar-nav-icon>
          <v-img
            src="../assets/logo1.svg"
            height="30px"
            width="40px"
            class="mt-n0 mr-0"
            size="40"
            elevation="10"
          ></v-img
        ></v-app-bar-nav-icon>
      </router-link>
      <v-toolbar-title style="width: 350px">
        <router-link to="/" class="white--text" style="text-decoration: none">
          <v-toolbar-title class="ml-2"> Vyntra </v-toolbar-title>
        </router-link>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        label="Search"
        prepend-inner-icon="mdi-magnify"
        class="hidden-sm-and-down pl-10 ml-4"
        v-if="user"
        ><v-btn><v-icon>mdi-magnify</v-icon></v-btn></v-text-field
      >

      <v-spacer />

      <v-btn to="/wishlist" icon v-if="user">
        <v-badge content="2" value="" color="green" overlap>
          <v-icon>mdi-bookmark</v-icon>
        </v-badge>
      </v-btn>
      <v-btn to="/favorites" icon v-if="user">
        <v-badge content="2" value="" color="green" overlap>
          <v-icon>mdi-heart</v-icon>
        </v-badge>
      </v-btn>
      <v-btn to="/cart" icon v-if="user">
        <v-badge content="2" value="" color="green" overlap>
          <v-icon>mdi-cart</v-icon>
        </v-badge>
      </v-btn>
      <v-menu
        bottom
        min-width="200px"
        rounded
        offset-y
        origin="center center"
        transition="scale-transition"
      >
        <template v-slot:activator="{ on }">
          <v-btn icon large v-on="on">
            <v-avatar size="48">
              <span class="white--text text-h5"><v-icon>mdi-account-circle</v-icon></span>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-center">
              <v-avatar v-if="user">
                <span class="white--text text-h5"
                  ><v-avatar>
                    <img :src="user.image" alt="user" color="indigo" /> </v-avatar
                ></span>
              </v-avatar>
              <h3 v-if="user">{{ user.username }}</h3>
              <p class="text-caption mt-1" v-if="user">
                {{ user.email }}
              </p>
              <v-btn depressed rounded text to="/signup" v-if="!user"
                ><v-icon>mdi-account-plus</v-icon> SignUp
              </v-btn>
              <v-divider class="my-3"></v-divider>
              <v-btn depressed rounded text to="/login" v-if="!user"
                ><v-icon>mdi-login</v-icon> SignIn
              </v-btn>
              <v-btn depressed rounded text @click="logout" to="" v-if="user"
                ><v-icon>mdi-logout</v-icon>
                Logout
              </v-btn>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-bottom-navigation :value="activeBtn" color="primary" horizontal v-if="user">
        <v-tabs v-model="tab" background-color="transparent" color="basil" grow>
          <v-tab to="/">Home</v-tab>
          <v-tab to="/men">Men </v-tab>
          <v-tab to="/women">Women</v-tab>
          <v-tab to="/cart">Cart</v-tab>
          <v-tab to="/favorites">Favorites</v-tab>
          <v-tab to="/wishlist">Wishlist</v-tab>
          <v-tab to="/blog">Blog</v-tab>
        </v-tabs>
      </v-bottom-navigation>
    </v-main>
    <router-view />
    <v-footer dark padless>
      <v-card class="flex" flat tile>
        <v-card-title class="teal">
          <strong class="subheading">Get connected with us on social networks!</strong>

          <v-spacer></v-spacer>
          <v-btn
            href="https://www.facebook.com/groups/vuejsdevelopers/"
            target="_blank"
            icon
          >
            <span class="group pa-2">
              <v-icon medium>mdi-facebook</v-icon>
            </span>
          </v-btn>
          <v-btn href="https://twitter.com/vuejs" target="_blank" icon>
            <span class="group pa-2">
              <v-icon medium>mdi-twitter</v-icon>
            </span>
          </v-btn>
          <v-btn href="https://github.com/vuejs/vue" target="_blank" icon>
            <span class="group pa-2">
              <v-icon medium>mdi-github</v-icon>
            </span>
          </v-btn>
          <v-btn
            href="https://www.instagram.com/vuejsdevelopers/?hl=en"
            target="_blank"
            icon
          >
            <span class="group pa-2">
              <v-icon medium>mdi-instagram</v-icon>
            </span>
          </v-btn>
          <v-btn
            href="https://au.linkedin.com/company/vuejsdevelopers"
            target="_blank"
            icon
          >
            <span class="group pa-2">
              <v-icon medium>mdi-linkedin</v-icon>
            </span>
          </v-btn>
        </v-card-title>
      </v-card>
    </v-footer>
  </v-app>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "NavbarComponent",
  data() {
    return {
      tab: [],
      items: [
        { title: "T-Shirts" },
        { title: "Jackets" },
        { title: "Shirts" },
        { title: "Jeans" },
        { title: "Shoes" },
      ],
      activeBtn: 1,
    };
  },
  methods: {
    logout() {
      localStorage.removeItem("token");
      this.$store.dispatch("updateUser", null);
      this.$router.replace({ name: "Error" });
    },
  },
  computed: {
    ...mapGetters(["user"]),
  },
};
</script>
<style lang="scss" scoped>
.white--text {
  padding: 2px;
}
</style>
