<template>
  <v-app>
    <v-main>
      <v-container>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Vyntra SignUp </v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <form ref="form" @submit.prevent="register">
                  <v-text-field
                    v-model="firstname"
                    type="firstname"
                    label="Firstname"
                    prepend-icon="mdi-account-circle"
                  />
                  <v-text-field
                    v-model="lastname"
                    type="lastname"
                    label="Lastname"
                    prepend-icon="mdi-account-circle"
                  />
                  <v-text-field
                    v-model="email"
                    type="email"
                    label="Email"
                    prepend-icon="mdi-email"
                  />
                  <v-text-field
                    v-model="username"
                    type="username"
                    label="username"
                    prepend-icon="mdi-account-circle"
                  />
                  <v-text-field
                    v-model="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                    type="password"
                    :rules="passwordRules"
                  />

                  <v-text-field
                    v-model="confirmPassword"
                    label="Confirm Password"
                    name="confirmPassword"
                    prepend-icon="mdi-lock"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                    type="password"
                    :rules="confirmPasswordRules"
                  />
                  <v-text-field
                    v-if="isRegister"
                    v-model="confirmPassword"
                    name="confirmPassword"
                    label="Confirm Password"
                    type="password"
                    :rules="confirmPasswordRules"
                    placeholder="confirm password"
                    prepend-icon="mdi-lock"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                  >
                  </v-text-field>
                  <p v-if="status === 400">Please enter different info.</p>
                  <!-- <v-checkbox
                    label="Accept Terms"
                    v-model="value"
                    value="value"
                  ></v-checkbox> -->
                  <v-flex>
                    <v-layout align-center>
                      <div class="text-center">
                        <v-dialog v-model="dialog" width="500">
                          <template v-slot:activator="{ on, attrs }">
                            <p class="caption my-3">
                              <a color="red lighten-2" dark v-bind="attrs" v-on="on">
                                Privacy Policy
                              </a>
                            </p>
                          </template>

                          <v-card>
                            <v-card-title class="text-h5 grey lighten-2">
                              Privacy Policy
                            </v-card-title>

                            <v-card-text>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              Duis aute irure dolor in reprehenderit in voluptate velit
                              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                              occaecat cupidatat non proident, sunt in culpa qui officia
                              deserunt mollit anim id est laborum.
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="primary" text @click="dialog = false">
                                I accept
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </div>
                      |
                      <div class="text-center">
                        <v-dialog v-model="dialog" width="500">
                          <template v-slot:activator="{ on, attrs }">
                            <p class="caption my-3">
                              <a color="red lighten-2" dark v-bind="attrs" v-on="on">
                                Terms of Service
                              </a>
                            </p>
                          </template>

                          <v-card>
                            <v-card-title class="text-h5 grey lighten-2">
                              Terms of Service
                            </v-card-title>

                            <v-card-text>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              Duis aute irure dolor in reprehenderit in voluptate velit
                              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                              occaecat cupidatat non proident, sunt in culpa qui officia
                              deserunt mollit anim id est laborum.
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="primary" text @click="dialog = false">
                                I accept
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </div>
                      <v-spacer></v-spacer>
                      <p class="caption my-3">
                        Powered by <a href="https://github.com/vuejs/vue">Vuejs</a>
                      </p>
                    </v-layout>
                  </v-flex>
                  <div class="red--text">{{ errorMessage }}</div>
                  <v-btn type="submit" class="mt-4" color="primary" value="register"
                    >Register</v-btn
                  >
                  <div
                    class="grey--text mt-4"
                    v-on:click="isRegister = !isRegister"
                  ></div>
                </form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
// import axios from "axios";
export default {
  name: "RegisterComponent",
  data() {
    return {
      dialog: false,
      showPassword: false,
      show: false,
      firstname: "",
      lastname: "",
      email: "",
      password: "",
      value: "",
      confirmPassword: "",
      passwordRules: [
        (value) => !!value || "Please type password.",
        (value) => (value && value.length >= 4) || "minimum 4 characters",
      ],
      confirmPasswordRules: [
        (value) => !!value || "type confirm password",
        (value) => value === this.password || "The password confirmation does not match.",
      ],
      status: null,
    };
  },
  methods: {},
};
</script>
<style>
Footer #nav a {
  font-weight: bold;
  color: #ffffff;
}
a:hover {
  cursor: pointer;
}

#nav a.router-link-exact-active {
  color: #ffffff;
}
</style>
