<template>
  <div>
    <v-container>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <v-carousel hide-delimiters>
            <v-carousel-item
              v-for="(image, i) in singleProducts.images"
              :key="i"
              :src="image"
            ></v-carousel-item>
          </v-carousel>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <v-breadcrumbs class="pb-0" :items="breadcrums"></v-breadcrumbs>
          <div class="pl-6">
            <p class="display-1 mb-0">{{ singleProducts.title }}</p>
            <v-card-actions class="pa-0">
              <p class="headline font-weight-light pt-3">
                ${{ singleProducts.price
                }}<del style="" class="subtitle-1 font-weight-thin">$2499.00</del>
              </p>
              <v-spacer></v-spacer>
              <v-rating
                v-model="rating"
                background-color="grey"
                color="yellow accent-4"
                dense
                half-increments
                hover
                size="18"
              ></v-rating>
              <span class="body-2 font-weight-thin">({{ singleProducts.rating }})</span>
            </v-card-actions>
            <p class="subtitle-1 font-weight-thin">
              {{ singleProducts.description }}
            </p>
            <p class="title">STOCK:{{ singleProducts.stock }}</p>
            <p class="title">ITEMS</p>

            <v-text-field outlined style="width: 100px" :value="1" dense></v-text-field>
            <v-btn class="primary white--text" outlined tile dense
              ><v-icon>mdi-cart</v-icon> ADD TO CART</v-btn
            >
            <v-btn class="ml-4" outlined tile dense>ADD TO WISHLIST</v-btn>
          </div>
        </div>
      </div>
    </v-container>
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <v-tabs>
          <v-tab>Description</v-tab>
          <v-tab>Materials</v-tab>
          <v-tab>REVIEWS</v-tab>
          <v-tab-item>
            <p class="pt-10 subtitle-1 font-weight-thin">
              {{ singleProducts.description }}
            </p>
          </v-tab-item>
          <v-tab-item>
            <p class="pt-10 subtitle-1 font-weight-thin">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ipsam.
            </p>
          </v-tab-item>
          <v-tab-item>
            <v-list three-line="true" avatar="true">
              <v-list-item-group v-model="comment" color="primary">
                <v-list-item v-for="(comment, i) in comments" :key="i" inactive="true">
                  <v-list-item-avatar>
                    <v-img :src="comment.avatar"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="comment.title"></v-list-item-title
                    ><v-rating
                      v-model="singleProducts.rating"
                      class=""
                      background-color="black"
                      color="amber"
                      dense
                    ></v-rating>
                    <v-list-item-subtitle
                      v-html="comment.subtitle"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-tab-item>
        </v-tabs>
        <v-card-text class="pa-0 pt-4" tile outlined>
          <p class="subtitle-1 font-weight-light pt-3 text-center">YOU MIGHT ALSO LIKE</p>
          <v-divider></v-divider>
          <div class="row text-center">
            <div
              class="col-md-3 col-sm-6 col-xs-12"
              v-for="similarProduct in similarProducts"
              :key="similarProduct.id"
            >
              <v-card class="mx-auto" color="grey lighten-4" max-width="600">
                <router-link :to="`/home/men/Menproductdetails/${similarProduct.id}`"
                  ><v-img
                    class="white--text align-end"
                    :aspect-ratio="1"
                    height="250px"
                    width="450px"
                    :src="similarProduct.thumbnail"
                  ></v-img
                ></router-link>
                {{ similarProduct.title }}
              </v-card>
            </div>
          </div>
        </v-card-text>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
  name: " WomenproductdetailsComponent",
  data() {
    return {
      product: [],
      rating: 4.5,
      item: 5,
      comments: [
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
          title: "Lorem ipsum dolor?",
          subtitle:
            "<span class='text--primary'>Ali Connors</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Tincidunt arcu non sodales neque sodales ut etiam. Lectus arcu bibendum at varius vel pharetra. Morbi tristique senectus et netus et malesuada.\n" +
            "\n",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
          title: 'Lorem ipsum dolor <span class="grey--text text--lighten-1">4</span>',
          subtitle:
            "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
          title: "Lorem ipsum dolor",
          subtitle:
            "<span class='text--primary'>Sandra Adams</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
          title: "Lorem ipsum dolor",
          subtitle: "",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
          title: "Lorem ipsum dolor",
          subtitle:
            "<span class='text--primary'>Britta Holt</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit",
        },
      ],
      productid: this.$route.params.id,
      singleProductData: {},
    };
  },
  mounted() {
    this.getSingleProduct(this.$route.params.id);
    this.getSimilarProduct(this.$route.params.id);
    console.log(this.$route);
  },
  computed: {
    ...mapState({
      singleProducts: (state) => state.women.singleProductData,
      similarProducts: (state) => state.women.similarProductData,
    }),
  },
  methods: {
    addToCart() {
      this.$store.dispatch("addToCart");
    },
    ...mapActions({
      getSingleProduct: "women/getSingleProduct",
      getSimilarProduct: "women/getSimilarProduct",
    }),
  },
};
</script>
<style></style>
